@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600;700&display=swap");
:root {
  --header-height: 6rem;

  /*========== Colors ==========*/
  --first-color: rgb(112 119 221);
  --first-color-2: rgb(81 4 176);

  --first-color-alt: rgb(255 236 102);
  --first-color-alt-2: rgb(255, 225, 0);

  --body-color: linear-gradient(
    to right,
    rgb(20 8 41),
    rgb(63 47 126),
    rgb(102 84 204)
  );
  --first-color: rgb(112 119 221);
  --first-color-alt: rgb(255 236 102);
  --container-color: rgba(65, 59, 112, 255);
  --container-color-2: rgba(38, 36, 56, 255);

  --body-color: linear-gradient(
    to right,
    rgb(20 8 41),
    rgb(63 47 126),
    rgb(81 4 176)
  );

  --container-color: rgb(40 23 77);

  /* --first-color-alt: rgb(216 88 226);
  --first-color: rgb(115 32 133);
  --body-color: linear-gradient(
    to right,
    rgb(20 8 41),
    rgb(39 22 80),
    rgb(61 20 98)
  ); */
  /* --first-color-alt: rgb(160 112 219);
  --first-color: rgb(106, 3, 232);

  --body-color: linear-gradient(
    90deg,
    rgb(56, 52, 86) 13%,
    rgb(58, 52, 109) 56%,
    rgba(69, 62, 121, 1) 81%
  ); */
  --title-color: rgb(253, 253, 253);
  --text-color: rgb(213, 223, 235);
  --text-color-2: rgb(142, 144, 148);

  --scroll-bar-color: rgb(1 13 31);
  --scroll-thumb-color: rgb(19, 216, 223);
  --scroll-thumb-color-hover: rgb(58, 206, 161);

  /*========== Font and typography ==========*/
  --font: "Changa", sans-serif;
  --font-2: "Kanit", sans-serif;
  --font-3: "Poppins", sans-serif;

  --biggest-font-size: 5rem;
  --big-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.3rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/

  --mb-0-25: 0.4rem;
  --mb-0-5: 0.8rem;
  --mb-0-75: 1.2rem;
  --mb-1: 1.6rem;
  --mb-1-5: 2rem;
  --mb-2: 3.2rem;
  --mb-2-5: 3.8rem;
  --mb-3: 4.8rem;
  --mb-4: 7rem;
  --mb-5: 9rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.8rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--font-3);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--first-color-alt);
}

img {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------- lAYOUT -------------------------------- */
.section {
  padding: 5rem 0 3rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  /* background-color: rgb(83, 34, 34); */
}

/* ----------------------------------------- Buttons -------------------------------- */
.colored-title {
  color: var(--first-color-alt);
  font-weight: var(--font-semi-bold);
}
.button {
  padding: 2rem;
  border: none;
  font-family: var(--font-2);
  font-size: var(--normal-font-size);
  text-transform: capitalize;
  width: 20rem;
  border-radius: 4rem;
  color: var(--title-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.2s;
}
.button:hover {
  box-shadow: 0px 0px 20px 0px var(--first-color);
}
.button--filled {
  background-color: var(--first-color);
}
.button--lighted {
  background-color: transparent;
  border: 2px solid var(--title-color);
}
.button--icon {
  margin: 0 1rem;
  color: var(--first-color-alt);
  cursor: pointer;
}
.button--icon:hover {
  color: var(--first-color-alt-2);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--first-color);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--first-color-alt);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-alt-2);
}

/*----------------- Main css ----------*/

header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  backdrop-filter: blur(8px);
  /* background-color: rgba(113, 57, 57, 0.144); */
}

nav {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  padding: 2rem 10%;
  line-height: 2;
}
.nav-items {
  display: flex;
}
.nav-items a {
  margin-right: 5rem;
  text-transform: capitalize;
}

/* --------------- HERO Section ---------------------- */

.hero {
  /* background-color: rgba(15, 215, 58, 0.497); */
  /* height: fit-content; */
  margin-top: var(--header-height);
}
.hero__container {
  display: flex;
  gap: 4rem;
}
.hero-images {
  /* background-color: rgba(121, 200, 197, 0.323); */
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50rem; */
}
.hero-image {
  position: absolute;
  border-radius: 50% 50% 10% 10%;
  height: 48rem;
  max-width: 45rem;
  box-shadow: #00000073 0px 0px 10px 0px;
  z-index: var(--z-tooltip);
  transition: 0.2s;
}
.hero-image:hover {
  box-shadow: var(--first-color) 0px 0px 20px 0px;
}
.hero-image_cercle {
  position: absolute;
  display: inline-block;
  content: "";
  width: 40rem;
  height: 40rem;
  border: 4px solid var(--first-color-alt);
  border-radius: 50%;
}
.cercle1 {
  left: -1rem;
  top: 0rem;
}
.cercle2 {
  right: -0rem;
  top: -5rem;
  border-color: var(--first-color);
}
.hero-data {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  font-size: var(--h3-font-size);
}

.hero-data h1 {
  font-size: var(--big-font-size);
  text-transform: capitalize;
  margin-bottom: var(--mb-0-5);
  text-shadow: 0px 0px 8px var(--first-color-alt-2);
}
.hero-user {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-0-5);
  padding: 1rem;
}
.hero-user img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.hero-numbers {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: var(--mb-0-5);
  text-transform: capitalize;
}
.hero__counter {
  display: flex;
}
.hero__counter span {
  margin-right: 2rem;
}
.hero__counter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__counter div span:first-child {
  font-size: var(--h1-font-size);
  font-weight: var(--big-font-size);
  color: var(--first-color-alt);
}
.ligne {
  border-left: 1px solid var(--first-color-alt);
  height: 6rem;
  margin: 0 2rem;
}
.hero__price {
  text-transform: uppercase;
  color: var(--first-color-alt);
}
.hero-buttons {
  display: flex;
  gap: 2rem;
}

/* --------------- TRENDING Section ---------------------- */

.trending__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending-header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mb-1);
  text-transform: capitalize;
}

.trending-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5rem 2rem;
}
.trending-project {
  background-color: var(--container-color);
  display: flex;
  flex-flow: column;
  max-width: 35rem;
  padding: 2rem;
  border-radius: 10px;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.2s;
}
.trending-project:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transform: rotate(-2deg);
}
.trending-project__img {
  border-radius: 20px;
  margin-bottom: var(--mb-1);
}
.trending-project__header,
.trending-project__favourite,
.trending-project__bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mb-0-5);
  padding: 0.5rem 0;
  /* background-color: red; */
}

.trending-project__header {
  font-weight: var(--font-semi-bold);
}
.trending-project__header span:nth-child(1) {
  font-family: var(--font-3);
}
.trending-project__header span:nth-child(2) {
  color: var(--first-color-alt);
  text-transform: uppercase;
}
.trending-project__favourite {
  border-bottom: solid 1px var(--first-color);
}

.trending-project__favourite .cercle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--first-color);
  border-radius: 20px;
}
.trending-project__favourite .cercle:nth-child(2) {
  background-color: var(--first-color-alt);
}
.trending-project__favourite .cercle:nth-child(3) {
  background-color: var(--first-color-alt-2);
}

/* --------------- Categories Section ---------------------- */

.category__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.category-header {
  font-size: var(--h1-font-size);
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}
.categories {
  display: flex;
  /* justify-content: center; */
  cursor: grab;
  /* background-color: antiquewhite; */
  padding: 5rem 0;
}
.category {
  max-width: 20rem;
  /* height: 20rem; */
  background-color: var(--container-color-2);
  padding: 2rem;
  border-radius: 20px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.catergory-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mb-1);
}

.catergory-data img {
  max-width: 6rem;
  border-radius: 50%;
  margin-bottom: var(--mb-0-5);
}
.catergory-data span {
  font-weight: var(--font-semi-bold);
}
.category-ranking {
  display: flex;
  justify-content: space-between;
}
.category-rank {
  background-color: var(--first-color-2);
  width: 6rem;
  text-align: center;
  border-radius: 10px;
  font-weight: var(--font-medium);
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 4rem 0;
}
.swiper-wrapper {
  /* background-color: aqua; */
  padding: 5rem 0;
}
.category-arrows {
  font-size: 3rem;
  position: relative;
  display: flex;
}

.category-arrow {
  position: absolute;
  /* background-color: red; */
  cursor: pointer;
  top: -2rem;
  right: 0;
  z-index: var(--z-tooltip);
  display: flex;
  justify-content: space-between;
}

.arrow-left {
  transform: rotate(-90deg);
  right: 5rem;
}
.arrow-right {
  transform: rotate(90deg);
}

.swiper-pagination-bullet {
  width: 40px;
  height: 10px;
  border-radius: 5px;
  transition: 0.2s;
}
.swiper-pagination-bullet-active {
  background-color: var(--first-color-alt);
}

.category-more {
  align-self: flex-end;
  text-transform: capitalize;
}

/* --------------- Artists Section ---------------------- */

.artists__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.artists-header {
  text-transform: capitalize;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}
.artists {
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
}
.artists-container {
  display: flex;
  flex-flow: column;
  margin-bottom: var(--mb-2);
  /* background-color: rgb(111, 139, 44); */
}
.artist {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--container-color);
  transition: 0.2s;
}
.artist:hover {
  background-color: var(--container-color);
  border-radius: 10px;
  transform: scale(1.1);
}
.artist-img {
  /* background-color: rebeccapurple; */
  padding: 1rem;
  position: relative;
}
.artist-img .button--icon {
  position: absolute;
  bottom: 10%;
  right: 10%;
  margin: 0;
}
.artist-ranking {
  font-weight: var(--font-semi-bold);
  color: var(--first-color-alt);
  font-size: var(--h2-font-size);
  margin-right: 1rem;
}
.artist img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.artist-data {
  /* background-color: rgb(117, 5, 228); */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1rem;

  width: 30rem;
  /* width: 100%; */
}
.artist-name {
  display: flex;
  flex-flow: column nowrap;
  /* background-color: rgb(116, 53, 178); */
}
.artist-wallet {
  /* background-color: rgb(195, 173, 217); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.artist-wallet h4:first-child {
  color: rgb(9, 222, 90);
}
.artist-wallet:nth-last-child(8) {
  color: rgb(222, 9, 9);
}

.artist-wallet h4:last-child {
  color: var(--first-color-alt);
}
